@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@font-face {
  font-family: "font1";
  src: "fonts/play";
}

@-webkit-keyframes run {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes run {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

span:first-child {
  position: fixed;
  top: 14%;
  right: 0%;
  z-index: 6;
}

span:first-child div {
  background-color: #fff;
  padding: 8px;
  border: solid 1px #ecebeb;
  margin-bottom: 10px;
}

span:first-child div a {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* AQUI EMPIEZA EL HEADER */
/* ------------------------------------------------------ */
header {
  position: -webkit-sticky;
  position: sticky;
  top: -180px;
  z-index: 4;
  background-color: #764dc5;
  color: #fff;
}

header div {
  display: block;
  width: 90%;
  margin: auto;
  background-color: #764dc5;
}

header div h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 110px;
}

header #menu {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 1%;
  margin-left: 4%;
  vertical-align: middle;
  z-index: 2;
}

header #menu span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform-origin: 0px 100%;
          transform-origin: 0px 100%;
}

header #menu span:nth-child(2) {
  top: calc(50% - 2%);
}

header #menu span:nth-child(3) {
  bottom: 0;
}

header div:first-of-type {
  width: 80%;
  margin: auto;
  padding: 1%;
}

header div:first-of-type p {
  display: inline-block;
}

header div:last-of-type {
  width: 100%;
  border-bottom: 4px solid #8258d4;
  border-top: 1px solid #5d2bc049;
}

header nav {
  display: block;
  width: 80%;
  margin: auto;
  background-color: #764dc5;
}

header nav ul {
  display: inline-block;
  width: 80%;
  text-align: left;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 1.4% 1%;
}

header nav ul li a {
  padding: 14px 0%;
}

header nav ul .selected {
  background-color: #8258d4;
}

header nav ul li:hover {
  position: relative;
  top: 15px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: unset;
  background-color: #8258d4;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header nav figure {
  width: 20px;
  display: inline-block;
  /* margin-left: 8%; */
  position: relative;
  right: -16%;
  cursor: pointer;
}

header nav figure img {
  width: 100%;
  vertical-align: middle;
}

header nav figure img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

header nav span {
  display: none;
  text-align: center;
  border-radius: 6px;
  padding: 18px;
}

header nav span input {
  display: inline-block;
  width: 120px;
  padding: 12px;
  background-color: #bca8e6be;
  border: none;
  border-radius: 4px;
}

header nav span button {
  padding: 10px;
  display: inline-block;
  width: 70px;
  background-color: #9361f8;
  border: none;
  border-radius: 4px;
}

/* ------------------------------------------------------ */
/* AQUI ACABA EL HEADER */
/* AQUI EMPIEZA EL MAIN */
/* ------------------------------------------------------ */
main {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  /*-- ----------------------------------------------------------------------------
                                -- SECTION --
-- ---------------------------------------------------------------------------- */
  margin: 4% auto;
}

main a {
  color: black;
}

main .encabezado {
  border-bottom: 1px solid #49B9B9;
  margin-bottom: 35px;
}

main .encabezado h3 {
  width: 30%;
  text-align: center;
  padding: 7px 2px;
  color: #fff;
  font-family: 'Play',sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #49B9B9;
}

main .show {
  margin-bottom: 12px;
}

main .show figure {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  margin-bottom: -4px;
}

main .show figure img {
  width: 100%;
}

main .show .showtitle {
  width: 55%;
  display: inline-block;
}

main .show .showtitle h3 {
  font-size: 14px;
  font-family: 'Play';
  margin-bottom: 8px;
}

main .show .showtitle br {
  width: 3px;
}

main .show .showtitle h4 a {
  font-size: 14px;
  color: #888888;
  font-family: gill sans;
  font-weight: 200;
}

main .distribucion1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 40px;
  min-width: 330px;
}

main .distribucion1 form label {
  width: 80%;
}

main .distribucion1 form input {
  width: 80%;
  border: #ecebeb 1px solid;
  background-color: #f5f5f5;
  border-radius: 4px;
  height: 22px;
}

main .distribucion1 form textarea {
  width: 80%;
  border: #ecebeb 1px solid;
  background-color: #f5f5f5;
  border-radius: 4px;
}

main .distribucion1 form button {
  border: 1px solid #cccccc;
  background-color: #f5f5f5;
  padding: 4px;
  border-radius: 4px;
}

main .distribucion1 form h3 {
  font-weight: 100;
  text-align: center;
}

main .distribucion2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 330px;
}

/* AQUI EMPIEZA EL FOOTER */
/* ------------------------------------------------------ */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 10%;
  background-color: #211b42;
}

footer div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
}

footer div:first-child {
  margin-right: 30px;
}

footer div:first-child h3 {
  color: #fff;
  font-size: 4.5vw;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  margin-bottom: 30px;
}

footer div:first-child p {
  color: #a3a3a3;
  font-family: 'Play';
  font-weight: 100;
  font-size: 15px;
}

footer div:nth-child(2) {
  margin-right: 16px;
}

footer div:nth-child(2) h4:first-child {
  font-family: 'Play';
  color: #fff;
  font-size: 18px;
  font-weight: 100;
}

footer div:nth-child(2) span {
  width: 25px;
  display: block;
  border: #764dc5 solid 1px;
  margin: 6px 0 20px 0;
}

footer div:nth-child(2) hr {
  width: 90%;
  border: solid 1px #a3a3a3;
}

footer div:nth-child(2) .show {
  margin-bottom: 12px;
  margin-top: 12px;
}

footer div:nth-child(2) .show figure {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}

footer div:nth-child(2) .show figure img {
  width: 100%;
}

footer div:nth-child(2) .show .showtitle {
  width: 52%;
  display: inline-block;
}

footer div:nth-child(2) .show .showtitle h3 a {
  color: #fff;
  font-size: 14px;
  font-family: 'Play';
}

footer div:nth-child(2) .show .showtitle h4 a {
  font-size: 14px;
  color: #fff;
  font-family: gill sans;
  font-weight: 200;
}

footer div:nth-child(2) .show .showtitle h4 a:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: slateblue;
}

footer div:nth-child(3) h4:first-child {
  font-family: 'Play';
  color: #fff;
  font-size: 18px;
  font-weight: 100;
}

footer div:nth-child(3) span {
  width: 25px;
  display: block;
  border: #764dc5 solid 1px;
  margin: 6px 0 20px 0;
}

footer div:nth-child(3) hr {
  width: 90%;
  border: solid 1px #a3a3a3;
}

footer div:nth-child(3) .show {
  margin-bottom: 12px;
  margin-top: 12px;
}

footer div:nth-child(3) .show figure {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}

footer div:nth-child(3) .show figure img {
  width: 100%;
}

footer div:nth-child(3) .show .showtitle {
  width: 52%;
  display: inline-block;
}

footer div:nth-child(3) .show .showtitle h3 a {
  color: #fff;
  font-size: 14px;
  font-family: 'Play';
}

footer div:nth-child(3) .show .showtitle h4 a {
  font-size: 14px;
  color: #fff;
  font-family: gill sans;
  font-weight: 200;
}

footer div:nth-child(3) .show .showtitle h4 a:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: slateblue;
}

#copiright {
  background-color: rgba(22, 22, 22, 0.89);
  padding: 40px;
  text-align: center;
  color: #fff;
}
/*# sourceMappingURL=contactestilo.css.map */